#body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#showorhide{
    margin-top: 4%;
    display: none;
}
#showorhide2{
    margin-top: 4%;
    display: none;
}

#matriz{
    margin-top: 4%;
    margin-left: 45%;
    display: none;
    max-width: 1px;
}